#root {
  max-width: 1280px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 10rem;
  text-align: center;
}

html, body, #root, .wrapper {
  height:100%;
  width:100vw;
}

#logincontainer{
  margin:auto;
  min-height:100vh;
  display:flex;
  flex-direction:column;
  justify-content: center;
  background-image: url('assets/bg-img2.jpg');
  
}

#container{
  min-height:100vh;
  display:flex;
  background-image: url('assets/bg-img2.jpg');
  flex-direction:column;
  justify-content: flex-start;

}
#container2{
  min-width:100%;
  display:flex;

}

#blackh2{
  color:black;
}
button:hover::before {
  content: ' ';
  cursor: pointer;
}

button:hover span {
  opacity: 1;
}




