#root {
  max-width: 1280px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 10rem;
  text-align: center;
}

html, body, #root, .wrapper {
  height:100%;
  width:100vw;
}

#logincontainer{
  margin:auto;
  min-height:100vh;
  background-color:blue;
  display:flex;
  flex-direction:column;
  justify-content: center;
  background-image: url('/home/omkar/Scientific-Paper-Rater/frontend/src/assets/bg-img2.jpg');
  
}
#loginwrapper{
  margin:auto;

}



